html {
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    background-color: rgb(25, 25, 25);
}

.run-in { 
    display:inline; 
}

.material-icons.md-48 { 
    font-size: 110%;
}

.sizecolorh1 {
    font-size: 200%;
    color: rgb(204, 0, 0);
}

.center {
    text-align: center;
}

.inline {
    display: inline;
}

.link {
    text-decoration: none;
    color: rgb(204, 0, 0)
}

.link:hover {
    text-decoration: none;
    color: rgb(204, 0, 0);
    text-shadow: 0 0 3px rgb(204, 0, 0);
}

.glow {
    text-shadow: 0 0 3px rgb(204, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(30, 30, 30);
    position: sticky;
}

footer {
    color: rgb(204, 0, 0);
    position:fixed;
    bottom:0;
    margin: 0; 
    padding: 8px 16px;
}

.par {
    font-size: 150%;
    color: rgb(204, 0, 0);
}

/* #home {
    width: 100%;
    height: 100vh;
    background: url("./assets/home.jpg") top center;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
} */


.spacer1 {
    height:90px;
}

.spacer2 {
    height:40px;
}

.spacer3 {
    height:120px;
}

.btn {
    background-color: rgb(30, 30, 30); /* Green */
    font-family: monospace;
    border: none;
    color: rgb(204, 0, 0);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px
}

.btn:hover {
    text-shadow: 0 0 3px rgb(204, 0, 0);
    box-shadow: 0 0 3px rgb(204, 0, 0);
}